@model OnlineVoting.tbl_vote

@{
    ViewBag.Title = "Delete Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wo Wo It's not possible to delete vote</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DANGER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VoteDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_candidate.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_candidate.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_events.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_events.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_voter.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_voter.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
