@model OnlineVoting.tbl_voter

@{
    ViewBag.Title = "Voter Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All registerd Voters are here</h2>

<div>
    <h4>Voters List:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_events.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_events.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_gender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_gender.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VoterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
