@model OnlineVoting.tbl_candidate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Your Candidate</h2>

<div>
    <h4>You can view your Candidates here</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_events.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_events.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_gender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_gender.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CandidateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
